body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.parallax-container {
  .parallax{
    img{
      display: block;
      opacity: 100;
    }
   }
}

.flash-box {
  color: #eee;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;

  .notice {
    background-color: #0099e8;
    color: #eee;
    text-align: center;
  }

  .alert {
    background-color: #F35500;
    color: #eee;
    text-align: center;
  }
}
