body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  a{
    color: gray;
  }  
}

main {
  flex: 1 0 auto;
}

.parallax-container {
  .parallax{
    img{
      display: block;
      opacity: 100;
    }
   }
}

.flash-box {
  color: #eee;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;

  .notice {
    background-color: #0099e8;
    color: #eee;
    text-align: center;
  }

  .alert {
    background-color: #F35500;
    color: #eee;
    text-align: center;
  }
}

*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}
i {   
    text-align:center;
    vertical-align:middle;
    position: relative;
}
.badge:after{
    content:attr(data-count);
    position: absolute;
    background: #b71c1c;
    height:2rem;
    top:0.5rem;
    left:1rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
}
