.show_container{
  .title,.card-content{
    width:800px;
    display: block;
  }
  #comment-section{
    ul{
      padding-bottom: 10px;
    }
  }
  #comment-section__comment{
    word-wrap: break-word;
  }

  #comment-section__comment, #comment-section__updated-comment{
    display: inline;
  }

  #icon-section{
    padding-bottom: 10px;
    li{
      display: inline;
    }
  }
}
