#comment-section{
  ul{
    padding-bottom: 20px;
  }
}
#comment-section__comment{
  width: 700px;
  word-wrap: break-word;
}

#comment-section__comment, #comment-section__updated-comment{
  display: inline;
}
