%li.collection-item
  = link_to post_path(favorite.post.id) do
    = favorite.post.title.present? ? favorite.post.title : "タイトル未設定"
    %br
    = favorite.post.created_at.strftime("%Y年 %m月 %d日 %H:%M:%S") + "に追加"