.container
  .row
    .col.s12.m4.l3
      = render "sidebar"
    %ul.collection.with-header
      %li.collection-header
        %h4 新着情報
      %li.collection-item プロフィールの変更のみ実装済み
      %li.collection-item 他機能は現在作成中