.container
  .row
    .col.s12.m6.l4.xl4
      %h4 Mypage
      .collection
        = link_to "プロフィールの変更", edit_user_registration_path, class: 'collection-item'
        %a.collection-item{:href => "#!"} Alvin
        %a.collection-item{:href => "#!"} Alvin
        %a.collection-item{:href => "#!"} Alvin
