.container
  .row
    .col.s12.m4.l3
      = render "sidebar"
    %ul.collection.with-header
      %li.collection-header
        %h4 新着情報
        - @notifications.each do |notification|
          = render partial: "notifications/notification", locals: { notification: notification }