<h1>Top</h1>
  <div>
    <%= form_for @todo do |form| %>
      <%= form.text_field :description %>
      <%= form.submit %>
    <% end %>
  </div>
<p>
  <ul>
    <% @todos.each do |todo|%>
      <li><%= todo.description %></li>
  <% end %>
  </ul>
</p>
