.row
  .col.s12.m6.l3
    .card.hoverable
      .card-image
        %img{:src => "uploads/no_image.jpg"}/
      .card-content
        %span.card-title Card Title
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m6.l3
    .card.hoverable
      .card-image
        %img{:src => "uploads/no_image.jpg"}/
      .card-content
        %span.card-title Card Title
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m6.l3
    .card.hoverable
      .card-image
        %img{:src => "uploads/no_image.jpg"}/
      .card-content
        %span.card-title Card Title
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
.fixed-action-btn
  %a.btn-floating.btn-large.red
    %i.large.material-icons mode_edit
.row
  .col.s12.m5
    .card-panel.teal
      %span.white-text
        I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
