.new__container
  .row
    = form_for @post,class: "col s12" do |f|
      .row
        .input-field.col.s12
          = f.text_area :contents, id: "textarea2", class: "materialize-textarea",'data-length': "1000"
          = f.label :contents, "Contents"
      .row
        .file-field.input-field.col.s12
          .btn
            %span File
            = f.file_field :image
          .file-path-wrapper
            %input.file-path.validate{:type => "text"}/
      %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
        Submit
        %i.material-icons.right send
