.card-reveal{
  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
.card.medium.hoverable{
  .card-image{
    height: 300px;
  }
}

.edit__container{
  width: 500px;
  margin: 0 auto;
  .file-field{
    .character-counter{
      display: none;
    }
  }
}