.card-reveal{
  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
.card.hoverable{
  .card-content{
    img.responsive-img, video.responsive-video {
      height: 45px;
    }
  }
}

.edit__container{
  width: 500px;
  margin: 0 auto;
  .file-field{
    .character-counter{
      display: none;
    }
  }
}

.card{
  width: 200px;
}