.card-reveal{
  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.card-content{
  #card-title{
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
.card{
  .card-content{
    img.responsive-img, video.responsive-video {
      height: 50px;
      width: 50px;
      max-width: none;
    }
  }
}

.edit__container{
  width: 500px;
  margin: 0 auto;
  .file-field{
    .character-counter{
      display: none;
    }
  }
}

.container#index-container{
  .card{
    width: 200px;
    border-radius: 10px;
  }
  .card-image{
    border-radius: 10px 10px 0 0;
  }
}

#comment-section{
  max-height: 300px;
  overflow: scroll;
}

#more_link{
  border-radius:25px;
}

.follow-link{
  .character-counter{
    display: none;
  }
}