.user__container{
  .character-counter{
    display: none;
  }
}

.social-btn{
  .btn-twitter {
    background-color: #55acee !important;;
  }
  .btn-facebook{
    background-color: #3b5998 !important;
  }
  .btn-google {
    background-color: #dd4b39 !important;
  }

    .btn{
    padding: 0 16px !important;
  }

  .btn-social {
    padding-left: 44px !important;
  }
  
}

#prof-change-btn{
  margin-bottom: 10px;
}
