%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text
          = t('view.site_title')
        %p.grey-text.text-lighten-4
          Expressive Writingはアイデアやメモを投稿したり、<br>シェアすることができるSNSです。
      .col.l4.offset-l2.s12
        %h5.white-text Links
        %ul
          %li
            = link_to "",class: "grey-text text-lighten-3",data: {"turbolinks" => false} do
              = t('view.about')
  .footer-copyright
    .container
      © 2019 #{t('view.site_title')}
